{
  "printWidth": 120,
  "tabWidth": 4,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": [".prettierrc", "*.json", "*.yml", "*.yaml", "*.md"],
      "options": {"tabWidth": 2}
    }
  ]
}
